
.wrapper {
    display: flex;
}


.form-guide p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.form-guide p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    color: #747474;
    background: #fff;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}