body {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 0.95rem;
    color: #747474;
    background: #fff;
    margin: 0;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}



legend {
    font-size: 1.3em;
}

.wrapper {
    font-family: 'Markazi Text', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 10px;
    font-size: .8em;
    margin: 1em 1em 1em 1em; 
}


.form-guide p {
    margin-top: 0;
    margin-bottom: 1rem;
    align-items: center;
    align-content: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.form-submission label{
    width:180px;
    clear:left;
    text-align:left;
    padding-right:10px;
        
}

.form-submission input, select {
        float:right;
        
}



@include mq(300px){
   
    .wrapper {
     font-size: .8em;
    }
    .form-submission input, select {
        width: 70%;
}
}
@include mq(400px){
   
    .wrapper {
     font-size: 1em;
    }
    .form-submission input, select {
        width: 60%;
}
    
}
@include mq(640px){
   
    .wrapper p {
        display: flex;
        flex-direction: row;
    }
    
}
@include mq(1000px){

    .wrapper {
        display: flex;
        flex-direction: row;
        padding: 10px;
        font-size: .8em;
    }  

    .form-guide, .submission {
        width: 50%;
    }

    body {
        font-size: 1.3em;
    }

    .submission input[type=submit]{
        margin-left: 35em;
    } 
}

