.gallery{

    margin: $margin;

    @include grid;

    .item-01 {
        grid-area: r1;
    }
    .item-02 {
        grid-area: r2;
    }
    .item-03 {
        grid-area: r3;
    }
    .item-04{
        grid-area: e1;
    }
 
}

.gallery {
     
    h2 {
        text-align: center;
    }
}
        



