@charset "utf-8";


/*image reset*/

#slideshow { 
    margin: 50px auto; 
    margin-bottom: 10px;
    position: relative; 
    padding: 10px; 
    z-index:1;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    z-index: 1;
}

#about-us {
    word-wrap: break-word;
    position: absolute; 
    top: 200px; 
    color:#fff;
    z-index:1000;
    width: 20%;
    margin-left: 5%;
  
} 
