@charset "utf-8";

main {
    padding: 0 20px;
    position: relative;
}

/*image reset*/

#slideshow { 
    margin: 20px 0; 
    margin-bottom: 10px;
    position: relative; 
    //padding: 10px; 
    z-index:1;
    padding-bottom: calc(100% * (435 / 652));
}

#slideshow > div { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } 
    //top: 10px; 
    //left: 10px; 
    //right: 10px; 
    // bottom: 10px; 
    z-index: 1;
}

#about-us {
    h1{
        font-size: 1.3em;
    }

    p {
        font-size: 0.9em;
    }
    
    word-wrap: break-word;
    position: absolute; 
    //top: 50vh; 
    color:rgb(14, 13, 13);
    z-index:1000;
    //width: 90%;
    //margin-left: 5%;
}

/*@include mq(660px){
    main {
     display: flex;
     flex-direction: column;
    }
}*/

@include mq(640px){
    
    
    #about-us {
        bottom: 10px;
        left: 40px;
        word-wrap: break-word;
        position: absolute; 
        color: white;
        z-index:1000;
        width: 90%;
    } 
}


@include mq(900px){
    #about-us {
    color: white;
    }
}

@include mq(1000px){
    #slideshow { 
        // margin: 50px auto; 
        // margin-bottom: 10px;
        // position: relative; 
        // padding: 10px; 
        // z-index:1;
    }
    
    #slideshow > div { 
        // position: absolute; 
        // top: 10px; 
        // left: 10px; 
        // right: 10px; 
        // bottom: 10px; 
        // z-index: 1;
    }
    
    #about-us {
        .para2{
            display: block;
        }
        word-wrap: break-word;
        position: absolute; 
        color:#fff;
        z-index:1000;
        width: 50%;
        margin-left: 5%;
    } 
}

@include mq(1130px){
    #about-us {
        bottom: auto;
        top: 150px;
        width: 30%;
    } 
}