// Mixins

// Mixin for centering element
// with margin-left: auto
// and margin-right: auto;
@mixin center($margin-center: true, $zero-margin: true){
    @if($margin-center){
        @if($zero-margin){
            margin: 0 auto;
        }@else {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }@else {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @if($zero-margin){
            margin: 0;
        }
    }
}

// Mixin for clearing out
// margins and padding and
// setting the line-height to 1 
// ...useful mainly on typographic elements
@mixin flatten($list: false) {
    margin: 0;
    padding: 0;
    line-height: 1;
    @if($list){
        list-style: none;
    }
}

// Mixins for creating a flex row of
// and evenly spacing out the
// elements along the row
@mixin flex-layout-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Media Query Mixin
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
  
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr;
    grid-template-areas: 
    "h1 h1"
    "r1 r2"
    "e1 e2";
}
@mixin grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr;
    grid-template-areas: 
    "h1 h1 h1 h1"
    "r1 r2 e1 e2"
    
}

// Media Query Mixin   //DONE BY MICHAEL
@mixin mq($w, $min-width: true){
    @if($min-width){
        @media (min-width: $w){
            @content;
        }
    }@else{
        @media (max-width: $w){
            @content;
        }
    }
}