.gallery{

    //margin: $margin;

    // @include grid;

    // .item-01 {
    //     grid-area: r1;
    // }
    // .item-02 {
    //     grid-area: r2;
    // }
    // .item-03 {
    //     grid-area: r3;
    // }
    // .item-04{
    //     grid-area: e1;
    // }
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
        font-size: 3em;
    }

}

.gallery-item {
  
   h2{
    font-size: 2em; 
    margin-bottom: 3.5em;
   }
   line-height: .1em;
   
   
}
