.gallery1{


    h2 {
        text-align: center;
        font-size: 3em;
    }
    img{
        padding: 10px;
    }

}

.measurements li {
    @include flatten;
    display: inline-block;
    
	margin-right: 0.4rem;
	white-space: nowrap;
}
.measurements label {
	margin: 0;
	font-weight: 600;
}

@include mq(640px){
    .gallery1{

        display: block;
      
    
    }
   
   

    
}
